.App {
  font-family: sans-serif;
  text-align : center;
}

.turn-header {
  font-weight: bolder;
  margin-top : 3rem;
}

.outter-square {
  margin-top     : 2rem;
  margin-bottom  : 2rem;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.singleCell {
  width          : 4rem;
  height         : 4rem;
  font-size      : 2rem;
  cursor         : pointer;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.row {
  display: flex;
}

button {
  background-color: white;
}

button:disabled {
  cursor          : not-allowed;
  font-weight     : bolder;
  background-color: white;
  color           : red;
}

.result {
  font-weight: bolder;
  margin-top : 3rem;
  margin     : 2rem;
}

.reset-button {
  border-radius   : 12px;
  border          : none;
  padding         : 10px 24px;
  font-size       : 16px;
  background-color: #e7e7e7;
  color           : black;
  cursor          : pointer;
}

.reset-button:focus {
  outline: none;
}